@model BulletinBoard.Core.Entities.Advert

@{
    ViewBag.Title = "Details";
}

<div>
    <br />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
            <br />
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" />
            <br />
        </dd>
    </dl>
</div>

@Html.Action("CreateNewComment", Model.Id)

<div>
    @foreach (var b in ViewBag.Comments)
    {
        @b.AdvertComment
        <br />
        <br />
    }
</div>
